.head{
    display: flex; justify-content: space-evenly; height: 40px;
    align-items: center; background-color: gold; color: red;

    ul{
        display: flex;
        gap: 30px;
        list-style: none;
    }
   
}  

.wel{
    background-color: pink;
    height: 20px;
}

@mixin demo{
    background-color: pink;
    color: blue;
    font-style:italic ;
    font-family: 'Courier New', Courier, monospace;
}

.head1{
    @include demo
}


